* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    min-height: 100vh;
    color: var(--font-color);
    font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}


.container {
    width: min(90vw, 1200px);
    margin-inline: auto;
}

nav {
    width: 100vw;
    padding-block: calc(2.5rem + .5vw);
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: calc(1.5rem + 1.5vw);
}

nav ul a, nav ul a:visited {
    color: var(--alt-font-color);
}

nav ul a.active {
    color: var(--font-color);
}

.nav-pages {
    display: flex;
    align-items: center;
    gap: calc(1.5rem + .5vw);
}

.login-form {
    width: min(90vw, 500px);
}

.form-column {
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.form-column div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form input {
    border: .5px solid var(--alt-font-color);
    border-radius: 2px;
    padding: 1rem;
    color: var(--font-color);
}

form input:active, form input:focus {
    outline: 0;
    border-color: var(--font-color);
}

form button {
    padding: 1rem;
    margin-bottom: .75rem;
}

a:hover {
    text-decoration: underline;

}

.viewport-size {
    width: 100vw;
    height: 100vh;
}

.place-content-center {
    display: grid;
    place-content: center;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-8 {
    margin-bottom: 4rem;
}

.row {
    display: flex;
}

.gap-2 {
    gap: 1rem;
}

.logo-large {
    height: 50px;
    width: 50px;
}

.justify-center {
    justify-content: center;
}

.page-content {
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.block h1, .block h2, .block h3, .block p {
    margin-bottom: .65em;
}

.block section + section {
    margin-top: 4rem;
}

.image-wrap {
  margin: calc(var(--baseline) * 2) auto;
}

.image-normal,
.image-wide {
  padding: 0 var(--baseline);
}

.image-normal {
  max-width: var(--max-width-s);
}

.image-wide {
  max-width: var(--max-width-m);
}

.image-caption {
  text-align: center;
}

.content-wrap {
  max-width: var(--max-width-s);
  margin: 0 auto;
  padding: 0 var(--baseline);
}

.cta {
  max-width: var(--max-width-s);
  margin: calc(var(--baseline) * 2) auto;
}

.cta-wrap {
  padding: var(--baseline);
  background: var(--primary-900);
  text-align: center;
}

.cta-content * {
  color: white;
}

.cta-content > :first-child {
  margin-top: 0;
}

.cta-content > :last-child {
  margin-bottom: 0;
}

.cta-buttons {
  padding: 0;
  margin: calc(var(--baseline) * .5) 0 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.cta-button {
  display: block;
  box-sizing: border-box;
  color: var(--primary-900);
  text-decoration: none;
  padding: 15px var(--baseline);
  background: white;
  border-radius: 5px;
  margin: 0 calc(var(--baseline) * .5);
  text-transform: uppercase;
  font-size: .8rem;
}

.cta-button:hover {
  background: #f1f1f1;
}

.cta-button:active {
  background: #e4e4e4;
}


@media (max-width: 600px) {
  .cta-buttons {
    margin-top: 0;
    display: block;
  }

  .cta-button {
    width: 100%;
    margin: calc(var(--baseline) * .5) 0 0;
  }
}
